*

!/.gitignore

!/.github/
!/.github/FUNDING.yml

!/assets/
!/assets/sponsor.png
!/assets/telegram.png

!/package.json
!/check-node-version.js
!/cli.js
!/interpreter.js

!/docs/
!/docs/.gitignore

!/GOVERNANCE.md
!/MAINTAINERS.md
!/README.md
!/LICENSE
!/AUTHORS

!/codex/
!/codex/.gitignore

!/neurons/
!/neurons/.gitignore

!/plugins/
!/plugins/.gitignore

!/templates/
!/templates/.gitignore

!/tests/
!/tests/.gitignore